#map {
	position: absolute;
	left: 800px;
	top: 80px;
	height: 80%;
	width: 45%;
}

#pano {
	height: 100%;
	width: 80%;
	
}

html, body {
	height: 90%;
	width: 75%;
	margin: 10;
	padding: 10;
	margin: 10;
}

#knop {
	width: 200px;
	left: 450px;
	top: 28px;
	position: absolute;
}

#progressBar{
	position: absolute;
	left: 800px;
	top: 0px;
	height: 10%;
	width: 45%;
	
	
}