html, body {
	height: 100%;
	width: 100%;
	margin: 0.01%;
}

#loginmenu {
	display: none;
}

#main {
	display: none;
}

#mainmenu {
	display: none;
}

#lobbymenu {
	display: none;
}

#roommenu {
	display: none;
}

#usernamevalue {
	display: none;
	position: absolute;
	color: white;
	font-size: 200%;
	left: 75%;
	top: 0.5%;
	z-index: 2;
	margin: 0.2%;
	padding: 1.4%;
}

#profilepicture {
	width: 8%;
	height: 9%;
	position: absolute;
	left: 92%;
	top: 0.5%;
	z-index: 2;
}

#text1 {
	color: white;
	position: absolute;
	left: 65%;
	top: 23%;
	height: 10%;
	width: 40%;
	z-index: 2;
}

#text2 {
	color: white;
	position: absolute;
	left: 65%;
	top: 53%;
	height: 10%;
	width: 40%;
	z-index: 2;
}

.slidecontainer1 {
	top: 35%;
	left: 60%;
	position: absolute;
	width: 35%;
}

.slidecontainer2 {
	top: 65%;
	left: 60%;
	position: absolute;
	width: 35%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background-color: black;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 70px;
	height: 70px;
	background: url('star.png');
	cursor: pointer;
}

#slidervalue1 {
	position: absolute;
	color: lightyellow;
}

#slidervalue2 {
	position: absolute;
	color: lightyellow;
}

#jupiter {
	display: none;
}

#login {
	color: white;
	background-color: black;
	position: absolute;
	left: 42.5%;
	top: 30%;
	height: 5%;
	width: 15%;
	z-index: 2;
}

#earth {
	position: fixed;
	top: -12%;
	left: -8%;
	width: 115%;
}

#jupiter {
	position: fixed;
	top: -12%;
	left: -8%;
	width: 115%;
}

#play {
	color: orange;
	background-color: black;
	position: absolute;
	left: 5%;
	top: 20%;
	height: 5%;
	width: 15%;
	z-index: 2;
}

#lobby {
	color: orange;
	background-color: black;
	position: absolute;
	left: 5%;
	top: 30%;
	height: 5%;
	width: 15%;
	z-index: 2;
}

#roomlist {
	color: white;
	position: absolute;
	font-size: 150%;
	left: 30%;
	top: 20%;
	height: 5%;
	width: 15%;
	z-index: 2;
	list-style-type: none;

}

li{
	height: 150%;

}




#room {
	color: white;
	background-color: blue;
	position: absolute;
	left: 80%;
	top: 90%;
	height: 5%;
	width: 15%;
	z-index: 2;
}

#roomstext {
	color: white;
	position: absolute;
	left: 43%;
	top: 7%;
	height: 5%;
	width: 15%;
	z-index: 2;
}

#roomname {
	color: #f1f1f1;
	position: absolute;
	left: 36%;
	top: 0.01%;
	z-index: 2;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

#logintext {
	color: white;
	position: absolute;
	left: 37%;
	top: 5%;
	z-index: 2;
	font-size: 200%;
	font-weight: bold;
	text-shadow: 5px 5px black;
}

#logintext2 {
	color: #c0c0c0;
	position: absolute;
	left: 25%;
	top: 25%;
	z-index: 2;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 4px 4px black;
}

#logintext3 {
	color: #c0c0c0;
	position: absolute;
	left: 40%;
	top: 45%;
	z-index: 2;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 4px 4px black;
}

#loginerror {
	display: none;
	position: absolute;
	color: red;
	font-size: 100%;
	top: 32.8%;
	left: 30%;
}

#loginbox {
	height: 8%;
	background-color: #222324;
	color: green;
	font-size: 150%;
	position: absolute;
	left: 5%;
	top: 40%;
	z-index: 2;
	text-align: center;
	text-shadow: 4px 4px black;
}

#passwordbox {
	height: 8%;
	background-color: #222324;
	color: white;
	font-size: 150%;
	position: absolute;
	left: 11%;
	top: 60%;
	z-index: 2;
	text-align: center;
	text-shadow: 4px 4px black;
}

#roomnamevalue {
	height: 6%;
	background-color: #222324;
	color: white;
	font-size: 140%;
	position: absolute;
	left: 7%;
	top: 12%;
	z-index: 2;
	text-align: center;
	text-shadow: 4px 4px black;
}

#createaccount {
	color: black;
	background-color: red;
	position: absolute;
	left: 40%;
	top: 75%;
	height: 20%;
	width: 20%;
	z-index: 2;
	border-radius: 100%;
}

.joinbutton {
	color: white;
	background-color: blue;
	position: absolute;
	left: 200%;
	height: 80%;
	width: 35%;
	z-index: 2;
	border-radius: 10%;
	font-size: 100%;
}
.closebutton {
	color: white;
	background-color: red;
	position: absolute;
	left: 240%;
	height: 80%;
	width: 15%;
	z-index: 2;
	border-radius: 30%;
	font-size: 100%;
}


#roommenu {
	border-radius: 10%;
	position: absolute;
	background-color: #515255;
	left: 68%;
	top: 18%;
	height: 60%;
	width: 30%;
	box-shadow: 30px 30px 50px #dedede inset;
}

#loginmenu {
	border-radius: 10%;
	position: absolute;
	background-color: #515255;
	left: 35%;
	top: 18%;
	height: 60%;
	width: 30%;
	box-shadow: 30px 30px 50px black inset;
}

#back {
	color: white;
	background-color: black;
	position: absolute;
	left: 3%;
	top: 5%;
	height: 5%;
	width: 15%;
	z-index: 2;
}

#backlobby {
	color: white;
	background-color: black;
	position: absolute;
	left: 3%;
	top: 90%;
	height: 7%;
	width: 15%;
	z-index: 2;
}

#createroom {
	color: white;
	background-color: blue;
	position: absolute;
	left: 80%;
	top: 90%;
	height: 7%;
	width: 15%;
	z-index: 2;
}

#refresh {
	color: white;
	background-color: blue;
	position: absolute;
	left: 47.5%;
	top: 16%;
	height: 5%;
	width: 5%;
	z-index: 2;
}

#play:hover {
	color: black;
	background-color: orange;
}

#lobby:hover {
	color: black;
	background-color: orange;
}

#back:hover {
	color: black;
	background-color: white;
}

#createaccount:hover {
	color: black;
	background-color: #800000;
}

#header {
	position: absolute;
	opacity: 60%;
	background-color: black;
	color: red;
	z-index: 2;
	margin: 0.0001%;
	height: 10%;
	width: 100%;
	z-index: 2;
	font-family: Papyrus;
	font-size: 300%;
}

#countdown {
	position: absolute;
	z-index: 2;
	height: 4%;
	width: 2.8%;
	left: 0.5%;
	top: 10%;
	background-color: white;
	color: black;
	font-size: 250%;
	margin: 0.2%;
	border-radius: 100%;
	padding: 1.4%;
	text-align: center;
}

#rounds {
	position: absolute;
	z-index: 2;
	height: 4%;
	width: 12.5%;
	left: 30%;
	color: white;
	font-size: 250%;
	margin: 0.1%;
	padding: 1%;
}

#score {
	position: absolute;
	z-index: 2;
	height: 4%;
	width: 12.5%;
	left: 50%;
	color: white;
	font-size: 250%;
	margin: 0.1%;
	padding: 1%;
	text-align: center;
}

#scorecountry {
	position: absolute;
	z-index: 2;
	height: 4%;
	left: 20%;
	width: 12.5%;
	color: green;
	font-size: 125%;
	margin: 0.1%;
	padding: 1%;
	opacity: 0%;
}

#scoredistance {
	position: absolute;
	z-index: 2;
	height: 4%;
	left: 54%;
	width: 12.5%;
	top: 2%;
	color: green;
	font-size: 125%;
	margin: 0.1%;
	padding: 1%;
	opacity: 0%;
}

#scoretime {
	position: absolute;
	z-index: 2;
	height: 4%;
	left: 54%;
	width: 12.5%;
	top: 4%;
	color: green;
	font-size: 125%;
	margin: 0.1%;
	padding: 1%;
	opacity: 0%;
}

.mapcss {
	position: absolute;
	right: 0%;
	top: 10%;
	height: 25%;
	width: 20%;
	z-index: 2;
	opacity: 40%;
	transition: width 1s, height 1s;
}

.guess {
	color: white;
	background-color: black;
	position: absolute;
	right: 0%;
	top: 35%;
	height: 5%;
	width: 20%;
	z-index: 2;
	opacity: 40%;
	transition: width 1s, height 1s, top 1s;
}
/* makes the buttons opacity 100% and makes the cursor a pointer when the button is enabled */
.guess:enabled {
	opacity: 100%;
	cursor: pointer;
}

.guess:disabled {
	background-color: green;
}

.mapguess:hover .mapcss {
	opacity: 100%;
	width: 30%;
	height: 38%;
}

.mapguess:hover .guess {
	width: 30%;
	height: 8%;
	top: 48%;
}

#pano {
	height: 100%;
	width: 100%;
	z-index: 1;
}

#knop {
	width: 200px;
	left: 450px;
	top: 28px;
	position: absolute;
}

#finalscore {
	position: absolute;
	color: green;
	font-size: 150%;
	left: 40%;
	top: 40%;
}

#gomenu {
	color: white;
	background-color: black;
	position: absolute;
	left: 42%;
	top: 60%;
	height: 5%;
	width: 15%;
}

#end {
	display: none;
}

/* makes an appear and disappear animation */
@keyframes fade { 0% {
	opacity: 0%;
	left: 63%;
}

50%
{
opacity
:
100%;
left
:
64%;
}
100%
{
opacity
:
0%;
left
:
65%;
}
}
/* makes a blinking animation */
@keyframes alarm { 0% {
	background-color: white;
}

50%
{
background-color
:
red;
}
100%
{
background-color
:
white;
}
}

/* makes a zoom in animation */
@keyframes zoom { 0% {
	transform: scale(1, 1);
}

25%
{
transform
:
scale(
0.90
,
0.90
);
}
100%
{
transform
:
scale(
10
,
10
);
}
}

/* makes a left to right animation (for earth)*/
@keyframes leftrightearth { 0% {
	left: -8%;
}

100%
{
left
:
-115%;
}
}
/* makes a right to left animation (for earth)*/
@keyframes rightleftearth { 0% {
	left: -115%;
}

100%
{
left
:
-8%;
}
}
/* makes a right to left animation (for Jupiter)*/
@keyframes rightleftjup { 0% {
	left: 100%;
}

100%
{
left
:
-8%;
}
}
/* makes a left to right animation (for earth)*/
@keyframes leftrightjup { 0% {
	left: -8%;
}

100%
{
left
:
100%;
}
}

/*  disables/hides information about location in footer */
a[href^="http://maps.google.com/maps"], a[href^="https://maps.google.com/maps"],
	a[href^="https://www.google.com/maps"] {
	display: none;
}

.gm-bundled-control .gmnoprint {
	display: block;
}

.gmnoprint:not(.gm-bundled-control) {
	display: none;
}